<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
      <img src="https://drive.google.com/file/d/18ag3wojVjwvDe2SLYwQykG5DynhGdS0N" width="600" height="400">
      <img src="https://drive.google.com/thumbnail?id=18ag3wojVjwvDe2SLYwQykG5DynhGdS0N&sz=400" width="600" height="400">
      
            <img src="http://97.74.88.23/~nikhilbharat/maldaLockShobha/maldaLockShobha/IMG-20190425-WA0121.jpg&sz=400" width="600" height="400">
      
<!-- 

	You will get url or link like this from google drive and you have to use id to use in HTML
    https://drive.google.com/file/d/18ag3wojVjwvDe2SLYwQykG5DynhGdS0N/view?usp=sharing

 -->
 
  <iframe src="https://drive.google.com/file/d/18ag3wojVjwvDe2SLYwQykG5DynhGdS0N/preview" width="400" height="400"></iframe>
 
   <iframe src="http://97.74.88.23/~nikhilbharat/maldaLockShobha/maldaLockShobha/IMG-20190425-WA0121.jpg" width="400" height="400"></iframe>
 
 
</body>
</html>